<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.baifu.dao.UserMapper">
	<!-- 如果方法出啊如的参数值只有一个，在#｛｝中引用这个参数的话，写什么名称都可以，
	但是一般情况下采用 接口中传参的名字-->
	<select id="findByName" 
			resultType="com.baifu.entity.User" 
			parameterType="string">
		select * from cn_user where cn_user_name=#{userName}
	</select>
	<!-- 如果传入的参数是实体类或者是Map。则包含多个值， -->
	<insert id="save" parameterType="com.baifu.entity.User">
		insert into cn_user values(
			UUID(),
			#{cn_user_name},
			#{cn_user_password},
			0,
			NOW(),
			#{cn_user_desc},
			#{cn_user_third_id}
		)
	</insert>
	<select id="update" parameterType="com.baifu.entity.User">
		update cn_user set cn_user_password=#{cn_user_password} where cn_user_name=#{cn_user_name}
	</select>
	
	<select id="loadHeadTitle" resultType="com.baifu.entity.NotebookType">
		<!-- select t.cn_notebook_type_code,t.cn_notebook_type_name from cn_notebook_type t ORDER BY t.cn_notebook_type_code -->
			SELECT
				group_concat(t.cn_notebook_code) cn_notebook_code,
				group_concat(t.cn_notebook_name) cn_notebook_name,
				t.cn_notebook_type_code cn_notebook_type_code,	
				t1.cn_notebook_type_name cn_notebook_type_name
			FROM
				cn_notebook t
			LEFT JOIN cn_notebook_type t1 ON t.cn_notebook_type_code = t1.cn_notebook_type_code
			
			GROUP BY t.cn_notebook_type_code	
	</select>
	
	<select id="findByUserId" resultType="com.baifu.entity.User" parameterType="string">
		select * from cn_user where cn_user_third_id=#{uid}
	</select>
	
	<select id="updateUsername" parameterType="com.baifu.entity.User">
		update cn_user set cn_user_name=#{cn_user_name} where cn_user_third_id=#{cn_user_third_id}
	</select>
</mapper>